sudo: false
language: ruby
rvm:
  - 2.1
  - 2.2
  - 2.3
  - 2.4
  - jruby
  - rbx
matrix:
  allow_failures:
    # Rubinius and JRuby have a lot of trouble and no large following, so I'm going to
    # allow failures on it until it gets more stable on Travis / Real Life(tm).
    # Let me know if you need it. Patches are welcome!
    - rvm: jruby
    - rvm: rbx
  fast_finish: true
cache: bundler
bundler_args: --without guard
script: "rake"
